@media only screen and (max-width: 1199px) {
    #social-media-icons {
        margin-left: 20%;
    }

    .social-media-logo {
        width: 15%;
        margin: 0;
    }
}

@media only screen and (min-width: 1200px) {
    #social-media-icons {
        margin-left: 43%;
    }

    .social-media-logo {
        width: 5%;
    }
}

#footer {
    margin-top: 1.5em;
    padding: 1.5em;
    height: 100%;
    border: solid #3679ff 1px;
    background-color: #3679ff;
}

#footer a {
    text-decoration: none;
    color: white;
}

.links {
    color: white;
    text-align: center;
    display: block;
    margin: 1% 0 0 0;
}