@media only screen and (max-width: 600px) {
    #social-media-icons {
        margin-left: 10%;
    }

    .social-media-logo {
        width: 25%;
        margin: 0 8% 0 0;
    }
}

@media only screen and (min-width: 600px) {

    #social-media-icons {
        margin-left: 20%;
    }

    .social-media-logo {
        width: 20%;
        margin: 0 8% 0 0;
    }
}

@media only screen and (min-width: 700px) {
    #social-media-icons {
        margin-left: 25%;
    }

    .social-media-logo {
        width: 18%;
    }
}

@media only screen and (min-width: 1200px) {
    #social-media-icons {
        margin-left: 35%;
    }

    .social-media-logo {
        width: 10%;
    }
}

#footer {
    margin-top: 1.5em;
    padding: 1.5em;
    height: 100%;
    border: solid #3679ff 1px;
    background-color: #3679ff;
}

#footer a {
    text-decoration: none;
    color: white;
}

#links-container {
    margin: 1% 0 0 0;
}

.links {
    color: white;
    text-align: center;
    display: block;
    margin: 2% 0 0 0;
}