#featured-media-container {
    margin: 1% 0 1% 10%;
    width: 80%;
}

#featured-media {
    width: 50%;
    border-radius: 10px;
}

#featured-media:hover {
    filter: brightness(60%);
}

.grid-container {
    margin-top: 3%;
}

#blog-posts-grid {
    padding-left: 3%;
}

#featured-post-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    opacity: 1;
    transition: opacity 2s;
}

#divider {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    width: 10%;
    opacity: 1;
    transition: opacity 2s;
}