#featured-media-container {
    margin: 1% 0 1% 10%;
    width: 80%;
}

#featured-media {
    width: 50%;
    border-radius: 10px;
}

.grid-container {
    margin-top: 3%;
}

#blog-posts-grid {
    padding-left: 3%;
}
