#name-input-grid-item {
    display: block;
}

#newsletter-container {
    text-align: center;
    border-top: #041c4c solid 35px;
}

#submit-button-grid-item {
    margin: 5% 30%;
}

.success {
    color: white;
    background-color: forestgreen;
    border: solid forestgreen  1px;
    border-radius: 5px;
    padding: 3px;
}

.error {
    color: white;
    background-color: red;
    border: solid red  1px;
    border-radius: 5px;
    padding: 2px;
}